@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://use.fontawesome.com/releases/v5.0.7/css/all.css');
@import url('/Content/bootstrap.css');

/* General
-----------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-attachment: fixed;
    background-origin: initial;
    background-repeat: no-repeat;
    background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
    color: white;
    font-family: 'Open Sans', sans-serif;
}

header {
    font-size: 2rem;
}

a {
    color: #ffe2e2;
    text-decoration: none;
}

    a:hover,
    a:active,
    a:focus {
        color: #ffc7c7;
        outline: none;
        cursor: pointer;
        text-decoration: none;
    }

p {
    padding: 0;
    margin: 0 0 30px 0;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
}

/* Header
-----------------------------------------------------*/

#header {
    padding: 30px 0;
    height: 92px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
}

    #header #logo {
        float: left;
    }

        #header #logo h1 {
            font-size: 36px;
            margin: 0;
            padding: 6px 0;
            line-height: 1;
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
            letter-spacing: 3px;
            text-transform: uppercase;
        }

            #header #logo h1 a,
            #header #logo h1 a:hover {
                color: #fff;
            }

        #header #logo img {
            padding: 0;
            margin: 0;
        }

    #header.header-fixed {
        background: rgba(52, 59, 64, 0.9);
        padding: 20px 0;
        height: 72px;
        transition: all 0.5s;
    }

/* Hero (Homepage) - Home Controller
--------------------------------------------------------------*/

#hero {
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
    border-style: none;
}

#hero:before {
    content: '';
    background: rgba(0,0,0,0,0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
}

#hero h1 {
    margin: 30px 0 10px 0;
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    text-transform: uppercase;
    color: #f7fffd;
}

#hero h2 {
    color: #eff7f6;
    margin-bottom: 50px;
    font-size: 24px;
}

#hero .hero-container .icon-box {
    background: transparent;
    background-size: cover;
    padding: 0 0 30px 0;
}

#hero .hero-container .icon-box .icon {
    float: left;
    background: transparent;
    width: 52px;
    height: 52px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #eff7f6;
}

#hero .hero-container .icon-box .icon i {
    color: #eff7f6;
    font-size: 36px;
}

#hero .btn-get-started:hover {
    background: #7bdff2;
    border: 2px solid #7bdff2;
    text-decoration: none;
}

/* About (Homepage) - Home Controller
--------------------------------------------------------------*/

#about {
    background: #333;
    padding: 80px 0;
}

#about .about-container .background {
    border-radius: 35px;
    min-height: 500px;
    background: url('../Content/Img/about-img.png') center top no-repeat;
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    display: block;
    animation-duration: 4s;
}

#about .about-container .content {
    background: #333;
}

#about .about-container .title {
    color: #eff7f6;
    font-weight: 500;
    font-size: 32px;
}

#about .about-container p {
    line-height: 26px;
    color: #eff7f6;
}

#about .about-container p:last-child {
    margin-bottom: 0;
}

#about .about-container ul {
    list-style-type: none;
}

#about .about-container li {
    font-family: 'Alata', sans-serif;
    color: #eff7f6;
}

#about .about-container .listHeader {
    color: #eff7f6;
    font-weight: 600;
}

#about .about-container .grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 0px;
}

#about .about-container .leftDiv { grid-area: 1 / 1 / 6 / 2; }
#about .about-container .rightDiv { grid-area: 1 / 2 / 6 / 3; }


@media only screen and (max-width: 600px) {
    #about {
        background: #f7fffd;
        padding: 15px 0;
    }

    #about .about-container .background {
        border-radius: 35px;
        min-height: 300px;
        max-width: 300px;
        background: url('../Content/Img/about-img.png') center top no-repeat;
        background-size: cover;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10px;
        display: block;
    }
}

@media only screen and (device-width: 768px) {
    #about {
        background: #f7fffd;
        padding: 20px 0;
    }

    #about .about-container .background {
        border-radius: 35px;
        min-height: 300px;
        max-width: 300px;
        background: url('../Content/Img/about-img.png') center top no-repeat;
        background-size: cover;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10px;
        display: block;
    }
}

/* Index View (Homepage) - Tickets Controller
--------------------------------------------------------------*/
#tickets {
    margin-top: 10vh;
    color: #f7fffd;
}

#tickets table {
    margin: 2vh auto; 
}

#tickets tr {
    color: #f7fffd;
}

#tickets th {
    color: #f7fffd;
    border: none;
}

#tickets td {
    color: #f7fffd;
    border: none;
}

.ticketHeader {
    font-size: 2rem;
    font-weight: bold;
}

.createBtn {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #e4c1f9;
    margin: 0.3em 1em 0.3em 0;
    border-radius: 0.12em;
    text-decoration:none;
    font-weight: 300;
    color: #e4c1f9;
    text-align: center;
    transition: all 0.2s;
}

.createBtn:hover {
    color: #171319;
    background-color: #e4c1f9;
    cursor: pointer;
}

/* Details View (Commentable Area) - Tickets Controller
--------------------------------------------------------------*/
#ticketsView {
    margin-top: 10vh;
    color: #f7fffd;
}
/* Tickets Controller Form
--------------------------------------------------------------*/
#ticketsForm .formCon {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ticketsForm .txtInput {
    padding: 0.5rem;
    font-size: 1.5rem;
    border: none;
    background: white;
}

#ticketsForm input[type=submit] {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #e4c1f9;
    margin: 0.3em 1em 0.3em 0;
    border-radius: 0.12em;
    text-decoration:none;
    font-weight: 300;
    color: #e4c1f9;
    background-color: transparent;
    text-align: center;
    transition: all 0.2s;
}

#ticketsForm input[type=submit]:hover {
    color: #171319;
    background-color: #e4c1f9;
    cursor: pointer;
}

#ticketsForm input[type=text] {
    min-width: 1000px;
    border-radius: 10px;
    border: none;
    box-shadow: 0.25px 5px 5px 0px rgba(0,0,0,0.25);
}

#ticketsForm input[type=date] {
    min-width: 1000px;
    border-radius: 10px;
    border: none;
    box-shadow: 0.25px 5px 5px 0px rgba(0,0,0,0.25);
}


#ticketsForm label {
    max-width: 100%;
}

/* Login
-----------------------------------------------------*/
#loginForm input[type=submit] {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #e4c1f9;
    margin: 0.3em 1em 0.3em 0;
    border-radius: 0.12em;
    text-decoration:none;
    font-weight: 300;
    color: #e4c1f9;
    background-color: transparent;
    text-align: center;
    transition: all 0.2s;
}

#loginForm input[type=submit]:hover {
    color: #171319;
    background-color: #e4c1f9;
    cursor: pointer;
}

#loginForm input[type=text] {
    min-width: 1000px;
    border-radius: 10px;
    border: none;
    box-shadow: 0.25px 5px 5px 0px rgba(0,0,0,0.25);
}

#loginForm input[type=password] {
    min-width: 1000px;
    border-radius: 10px;
    border: none;
    box-shadow: 0.25px 5px 5px 0px rgba(0,0,0,0.25);
}

#loginForm input[type=checkbox] {
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: white;
    opacity: 0;
    cursor: pointer;
}

#loginForm input[type=checkbox]:hover {
    cursor: pointer;
}

#loginForm

/* Nav Menu
-----------------------------------------------------*/

.nav-menu,
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .nav-menu ul {
        position: absolute;
        display: none;
        top: 100%;
        left: 0;
        z-index: 99;
    }

    .nav-menu li {
        position: relative;
        white-space: nowrap;
    }

    .nav-menu a {
        margin: 0;
        color: #fff !important;
        font-family: "Open Sans", sans-serif;
        letter-spacing: 3px;
        text-transform: uppercase;
    }

    .nav-menu > li {
        float: left;
    }

    .nav-menu li:hover > ul,
    .nav-menu li.sfHover > ul {
        display: block;
    }

    .nav-menu ul ul {
        top: 0;
        left: 100%;
    }

    .nav-menu ul li {
        min-width: 180px;
    }

/* Nav Menu Arrows */

.sf-arrows .sf-with-ul {
    padding-right: 30px;
}

    .sf-arrows .sf-with-ul:after {
        content: "\f107";
        position: absolute;
        right: 15px;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
    }

.sf-arrows ul .sf-with-ul:after {
    content: "\f105";
}

/* Nav Menu Container */

#nav-menu-container {
    float: right;
    margin: 0;
}

/* Nav Menu Styling */

.nav-menu a {
    padding: 0 8px 10px 8px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px;
    outline: none;
}

.nav-menu > li {
    margin-left: 10px;
}

    .nav-menu > li > a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #d00000;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        transition: all 0.3s ease-in-out 0s;
    }

.nav-menu a:hover:before,
.nav-menu li:hover > a:before,
.nav-menu .menu-active > a:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.nav-menu ul {
    margin: 4px 0 0 0;
    border: 1px solid #e7e7e7;
}

    .nav-menu ul li {
        background: #fff;
    }

        .nav-menu ul li:first-child {
            border-top: 0;
        }

        .nav-menu ul li a {
            padding: 10px;
            color: #333;
            transition: 0.3s;
            display: block;
            font-size: 13px;
            text-transform: none;
        }

            .nav-menu ul li a:hover {
                background: #ffe2e2;
                color: #fff;
            }

    .nav-menu ul ul {
        margin: 0;
    }

/* Mobile Nav Toggle */

#mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    margin: 32px 20px 0 0;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
}

    #mobile-nav-toggle i {
        color: #fff;
    }

/* Mobile Nav Styling */

#mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: rgba(207, 161, 161, 0.8);
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s;
}

    #mobile-nav ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

        #mobile-nav ul li {
            position: relative;
        }

            #mobile-nav ul li a {
                color: #fff;
                font-size: 24px;
                overflow: hidden;
                padding: 10px 22px 10px 15px;
                position: relative;
                text-decoration: none;
                width: 100%;
                display: block;
                outline: none;
                font-weight: bolder;
                font-family: 'Open Sans', sans-serif;
            }

                #mobile-nav ul li a:hover {
                    color: #fff;
                }

            #mobile-nav ul li li {
                padding-left: 30px;
            }

        #mobile-nav ul .menu-has-children i {
            position: absolute;
            right: 0;
            z-index: 99;
            padding: 15px;
            cursor: pointer;
            color: #fff;
        }

            #mobile-nav ul .menu-has-children i.fa-chevron-up {
                color: #ffe2e2;
            }

        #mobile-nav ul .menu-item-active {
            color: #e6b3b3;
        }

#mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(207, 161, 161, 0.5);
    display: none;
}

/* Mobile Nav body classes */

body.mobile-nav-active {
    overflow: hidden;
}

    body.mobile-nav-active #mobile-nav {
        left: 0;
    }

    body.mobile-nav-active #mobile-nav-toggle {
        color: #fff;
    }
