@{
    ViewBag.Title = "SSTS";
}

<section id='hero'>
    <div class="hero-container">
        <h1>SSTS In-House Testing</h1>
        <h2>Report your issues here.</h2>
        <div class="icon-box">
            <div class="icon"><a onClick="document.getElementById('about').scrollIntoView();"><i class="fas fa-arrow-down"></i></a></div>
        </div>
    </div>
</section>

<section id="about">
    <div class="container">
        <div class="row about-container">

            <div class="col-lg-6 content order-lg-1 order-2">
                <h2 class="title">How to Report an Error</h2>
                <p>
                    Below is a step by step guide on how to submit an error: <br/>
                </p>


                <ul>
                    <li class="listHeader">Steps: </li>
                    <li>1. Login to your account</li>
                    <li>2. Navigate to tickets</li>
                    <li>3. Developers and Testers should see a create new button</li>
                    <li>4. Click that button, you will be redirected</li>
                    <li>5. Fill out the form data</li>
                    <li>6. Submit the form</li>
                    <br/>
                    <li class="listHeader">Important Note</li>
                    <li>Customers will only be able to view their own tickets</li>
                </ul>
            </div>

            <div class="col-lg-6 background order-lg-2 order-1 fadeInRight" style="visibility: visible; animation-name: fadeInRight;"></div>
        </div>
    </div>
</section>